<div id="<%= dom_id turn %>">
  <p>
    <strong>Roundnum:</strong>
    <%= turn.roundNum %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= turn.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= turn.answer %>
  </p>

  <p>
    <strong>Winning:</strong>
    <%= turn.winning %>
  </p>

  <p>
    <strong>Flippedcards:</strong>
    <%= turn.flippedCards %>
  </p>

</div>
