<div id="<%= dom_id game %>">
  <p>
    <strong>P2:</strong>
    <%= game.p2 %>
  </p>

  <p>
    <strong>P1:</strong>
    <%= game.p1 %>
  </p>

  <p>
    <strong>P1secretcard:</strong>
    <%= game.p1SecretCard %>
  </p>

  <p>
    <strong>P2secretcard:</strong>
    <%= game.p2SecretCard %>
  </p>

  <p>
    <strong>P1cards:</strong>
    <%= game.p1Cards %>
  </p>

  <p>
    <strong>P2cards:</strong>
    <%= game.p2Cards %>
  </p>

  <p>
    <strong>Iinprogress:</strong>
    <%= game.iinProgress %>
  </p>

  <p>
    <strong>Whosturn:</strong>
    <%= game.whosTurn %>
  </p>

</div>
